SYSTEM_MODE=CENTRAL_MODE
SQLITE_PATH=./pos.db
PG_CONNECTION_STRING=postgresql://postgres:REPLACE_DB_PASSWORD@db.ijnobbackjggdswsfxnw.supabase.co:5432/postgres?sslmode=require
SYNC_INTERVAL_MS=10000
PORT=4000
API_KEY=REPLACE_WITH_YOUR_OWN_APP_API_KEY_NOT_SUPABASE_KEY
CORS_ORIGINS=https://pos.yourdomain.com,https://mpos.yourdomain.com,http://192.168.1.11:5175
TRUST_PROXY=true
